.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
  }
  
  .App-body {
    background-color: #282c34;
    min-height: 100vh;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  table, td, th  {
    border: 1px solid white;
    border-collapse: collapse;
    width: 90%;
  }
  
  td, th {
    width:10%;
    padding:20;
    margin:20;
  }
  
  .form {
    padding-bottom: 10px;
    margin-bottom: 10px;
    /* width: 75%;
    height: 45%;
    border: 1px solid white; */
  }
  .result{
    padding: 20;
    margin: 20;
    font-size: calc(15px + 2vmin);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button{
    color: #282c34;
    background-color: #e2e2e2;
    border: 1px solid #e2e2e2;
    width:20%;
    height: 10%;
  }
  
  .label{
    padding: 20;
    margin: 20;
    font-size: calc(10px + 2vmin);
  }

  .label1{
    padding:15;
    margin:15;
    font-size: calc(7px + 2vmin);
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  